/* HEADER */
.header-one {
  min-height: 3rem;
  border-bottom: 1px solid #fc7c7c;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
#brand {
  float: left;
  font-size: 3rem;
  padding-left: .5rem;
}
#header-nav ul {
  float: right;
}
#header-nav ul li {
  display: inline-block;
  padding-right: .5rem;
  padding-top: .75rem;
  font-size: 1.25rem;
}
#header-nav a {
  text-decoration: none;
  color: indianred;
}
#header-nav a:last-child {
  padding-right: .5rem;
}
#header-nav a:hover {
  text-decoration: none;
  color: #fc7c7c;
}

/* ABOUT JUMBOTRON */
.aboutJumbotron {
  min-height: 20rem;
  background-color: #ccc;
  color: #fc7c7c;
  animation-name: jumbotronAnimation;
  animation-duration: 4s;
}
.aboutTitle {
  text-align: center;
  font-size: 5rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  animation-name: slidein;
  animation-duration: 2s;
}

@keyframes jumbotronAnimation {
  from {color: #ccc;}
  to {color: #fc7c7c;}
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.aboutBtn {
  font-size: 1.5rem;
  border-radius: 5px;
  margin-left: 34rem;
  border: #fc7c7c 1px solid;
  color: #fc7c7c;
  animation-name: buttonAnimation;
  animation-duration: 4s;
}

@keyframes buttonAnimation {
  from {
    color: #ccc;
  }
  to {
    color: #fc7c7c;
  }
}

.aboutBtn:hover{
  cursor: pointer;
  background-color: #f0f0f0;
}

.card {
  width: 7em;
  height: 10em;
  float: left;
  margin: 3em;
  margin-left: 7em;
}

.box1 {
  width: 45%;
  height: 12em;
  float: left;
  border: black 1px solid;
  margin-left: 2.25em;
  margin-right: 3em;
  margin-top: 12em;
  margin-bottom: 4em;
  text-align: center;
}
.box2 {
  width: 45%;
  height: 12em;
  float: left;
  border: black 1px solid;
  margin-top: 12em;
  text-align: center;
  margin-bottom: 4em;
}

.meetUp {
  width: 29%;
  height: 9em;
  float: left;
  border: black 1px solid;
  margin-left: 1.5em;
  margin-bottom: 4em;
  padding: 10px;
}



/* FOOTER */
footer {
  margin-top: 60em;
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: 2rem;
  text-align: center;
  border-top: #fc7c7c solid 1px;
  text-align: center;
}
footer p {
  color: indianred;
  font-weight: bold;
  padding-top: 1em;
  float: right;
  margin-right: 3em;
}



/* MEDIA QUERIES */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  header {
    width: 100%;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  footer {
    width: 100%;
    min-height: 3rem;
    background-color: pink;
    padding: 2rem 0;
    float: left;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .header-one {
    min-height: 5rem;
  }

  #brand {
    width: 100%;
    text-align: center;
  }

  #header-nav {
    width: 100%;
    float: left;
    text-align: center;
  }
  #header-nav ul li {
    display: inline-block;
    padding-right: .5rem;
    padding-top: .75rem;
    font-size: 1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  /* ABOUT JUMBOTRON */
.aboutJumbotron {
  min-height: 15rem;
  background-color: #ccc;
}
.aboutTitle {
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.aboutBtn {
  font-size: 1rem;
  border-radius: 15px;
  margin-left: 8.5rem;
  border: #fc7c7c 1px solid;
}
.aboutBtn:hover{
  cursor: pointer;
  background-color: #f0f0f0;
}

  footer {
    width: 100%;
    min-height: 2rem;
    background-color: pink;
    padding: 2rem 0;
    float: left;
  }
}
