/* 
font-family: 'Squada One', cursive;
font-family: 'Bahianita', cursive;
font-family: 'Merriweather', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Special Elite', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Handlee', cursive;
*/

/* HEADER */
.header-one {
  margin: 0;
  min-height: 8%;
  background-color: #fff;
  border-bottom: 1px solid #0ac400;
  padding-top: 1%;
  padding-bottom: 1%;
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.5s;
  z-index: 1000;
}
#brand {
  float: left;
  font-size: 4vw;
  padding-top: 1vh;
  padding-left: 2vw;
  color: #000;
  font-family: 'Poiret One', cursive;
}
/* #brand:hover {
  color: #0ac400;
} */
#header-nav ul {
  float: right;
}
#header-nav ul li {
  display: inline-block;
  padding-right: 2vh;
  padding-top: 2.5vh;
  font-size: 2vw;
  font-family: 'Poiret One', cursive;
}
#header-nav a {
  text-decoration: none;
  color: #000;
}
#header-nav a:last-child {
  padding-right: 0.5rem;
}
#header-nav a:hover {
  text-decoration: none;
  color: #0ac400;
}

/* MISSION JUMBOTRON */
#missionJumbotron {
  padding-top: 8em;
  min-height: 110vh;
  margin: 0;
  background: url("https://media1.giphy.com/media/X8M7iJQPh8RpFVGlZz/giphy.gif");
  background-size: cover;
}
#missionJumbotron p {
  text-align: center;
  margin-bottom: 2em;
  font-family: 'Quicksand', sans-serif;
}
#missionJumbotron h1 {
  text-align: center;
  text-transform: uppercase;
  line-height: 2.25;
  padding-right: 2em;
  padding-left: 2em;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

/* ABOUT PROFILE PLANT SECTION */
#aboutJumbotron {
  /* background-color: #ccc; */
  padding-top: 8em;
}
#aboutJumbotron h1 {
  text-transform: uppercase;
  padding: 0 3em .5em 2em;
  font-family: 'Poiret One', cursive;
}
#aboutJumbotron p {
  padding: 0 10em 2em 5.5em;
  line-height: 2;
  font-family: 'Quicksand', sans-serif;
}

/* ABOUT IMAGES */
#aboutImage1 {
  width: 500px;
  height: 500px;
}
#aboutImage2 {
  width: 500px;
  height: 500px;
}
#aboutImage3 {
  width: 500px;
  height: 500px;
}
#aboutImage4 {
  width: 500px;
  height: 500px;
}

/*  image Text Row */
.imageTextRow {
  margin-top: 10em;
}

/* TEXT IN ROWS WITH IMAGES */
.imageText {
  padding: 5em 4em 3em 4em;
}
.imageText h5 {
/* text-align: center; */
padding: 1em 0 1em 0;
border-top: #0ac400 1px solid;
font-family: 'Poiret One', cursive;
/* font-weight: bold; */
font-size: 2em;
}
.imageText p {
line-height: 2;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

/* FOOTER */
footer {
  min-height: 10%;
  text-align: center;
  width: 100%;
  border-top: #0ac400 1px solid;
  margin-top: 10em;
}
#footer-brand {
  float: left;
  font-size: 6vh;
  padding-left: 1em;
}
footer h1 {
  color: #000;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 1em;
  font-family: 'Poiret One', cursive;
}
.footerCol {
  float: left;
  width: 25%;
  list-style: none;
  padding-top: 1em;
}

.footerCol li {
  line-height: 6vh;
}

.footerCol a {
  text-decoration: none;
  color: #000;
  font-family: 'Poiret One', cursive;
}
.footerCol a:hover {
  color: #0ac400;
}


