/* HEADER */
.header-one {
  min-height: 8%;
  background-color: #fff;
  border-bottom: 1px solid #0ac400;
  padding-top: 1%;
  padding-bottom: 1%;
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.5s;
  z-index: 1000;
}
#brand {
  float: left;
  font-size: 4vw;
  padding-top: 1vh;
  padding-left: 2vw;
  color: #000;
  font-family: 'Poiret One', cursive;
}
/* #brand:hover {
  color: #0ac400;
} */
#header-nav ul {
  float: right;
}
#header-nav ul li {
  display: inline-block;
  padding-right: 2vh;
  padding-top: 2.5vh;
  font-size: 2vw;
  font-family: 'Poiret One', cursive;
}
#header-nav a {
  text-decoration: none;
  color: #000;
}
#header-nav a:last-child {
  padding-right: 0.5rem;
}
#header-nav a:hover {
  text-decoration: none;
  color: #0ac400;
}

h2 {
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  font-family: 'Poiret One', cursive;
}
#name {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 5px;
}
#msg {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 5px;
  height: 10em;
}
.btn {
  margin-bottom: 3em;
}
/* form */
/* form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  margin-top: 9em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
input, textarea {
  font: 1em sans-serif;width: 300px;
  box-sizing: border-box;

  border: 1px solid black;

}
input:focus, textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
}
.button {
  margin-left: .5em;
} */
section {
  background-color: rgba(228, 228, 228, 0.907);
}



/* FOOTER */
footer {
  min-height: 10%;
  text-align: center;
  width: 100%;
  border-top: #0ac400 1px solid;
}
#footer-brand {
  float: left;
  font-size: 6vh;
  padding-left: 1em;
}
footer h1 {
  color: #000;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 1em;
  font-family: 'Poiret One', cursive;
}
.footerCol {
  float: left;
  width: 25%;
  list-style: none;
  padding-top: 1em;
}

.footerCol li {
  line-height: 6vh;
}

.footerCol a {
  text-decoration: none;
  color: #000;
  font-family: 'Poiret One', cursive;
}
.footerCol a:hover {
  color: #0ac400;
}


/* MEDIA QUERIES */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  header {
    width: 100%;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #section-article {
    display: none;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #section-article {
    display: none;
  }
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  #section-article {
    display: none;
  }
  section {
    width: 100%;
    min-height: 15rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  aside {
    width: 100%;
    min-height: 15rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  .jumbotron {
    width: 100%;
    min-height: 15rem;
    background-color: #000;
    padding-bottom: 2rem;
    float: left;
  }
  footer {
    width: 100%;
    min-height: 3rem;
    background-color: pink;
    padding: 2rem 0;
    float: left;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  #brand {
    width: 100%;
    text-align: center;
  }

  #header-nav {
    width: 100%;
    float: left;
    text-align: center;
  }
  #header-nav ul li {
    display: inline-block;
    padding-right: .5rem;
    padding-top: .75rem;
    font-size: 1rem;
    margin-right: 3.5rem;
  }
  

  #section-article {
    display: none;
  }
  section {
    width: 100%;
    min-height: 9rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  aside {
    width: 100%;
    min-height: 9rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  .jumbotron {
    width: 100%;
    min-height: 9rem;
    background-color: #000;
    padding-bottom: 2rem;
    float: left;
  }
  footer {
    width: 100%;
    min-height: 2rem;
    background-color: pink;
    padding: 2rem 0;
    float: left;
  }
}
