/* HEADER */
.header-one {
  min-height: 3rem;
  background-color: #fff;
  border-bottom: 1px solid #0ac400;
  padding-top: .5rem;
  padding-bottom: .5rem;
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.5s;
}
#brand {
  float: left;
  font-size: 3rem;
  padding-left: 2rem;
  color: #000;
}
/* #brand:hover {
  color: #0ac400;
} */
#header-nav ul {
  float: right;
}
#header-nav ul li {
  display: inline-block;
  padding-right: 2rem;
  padding-top: .75rem;
  font-size: 1.25rem;
}
#header-nav a {
  text-decoration: none;
  color: #000;
}
#header-nav a:last-child {
  padding-right: .5rem;
}
#header-nav a:hover {
  text-decoration: none;
  color: #0ac400;
}

/* JUMBOTRON */
.jumbotron {
  background: url("../images/cssAbout2.jpg");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
.jumbotron h1 {
  color: #0bda00;
  padding-top: 19rem;
  font-size: 2.5em;
  filter: drop-shadow(0 0 0.75rem green);
  /* filter: blur(2px); */
}

/* SECTION */
section {
  margin-top: 5em;
  /* border-right: 1px solid #000; */
  float: left;
  width: 50%;
  min-height: 45em;
  justify-content: center;
}
#firstSection {
  border-right: 1px solid #000;
}
#secondSection {
  border-left: 1px solid #000;
}
section h3 {
  font-size: 20px;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
#section-article {
  /* border: red 1px solid; */
  background: url("../images/indexarticle1.jpg");
  background-size: cover;
  width: 75%;
  text-align: left;
  margin-left: 4.5rem;
  margin-top: 3rem;
  min-height: 15rem;
  padding-top: 2em;
  padding-left: 2em;
}
#section-article a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  /* padding-top: 2em; */
}
#section-article a:hover {
  color: #0ac400;
}
/* #section-article img {
  width: 30em;
  height: 15em;
} */

/* ASIDE */
aside {
  /* border: 1px solid #000; */
  min-height: 45em;
  margin-top: 5em;
  float: left;
  width: 49%;
}
aside h3 {
  font-size: 20px;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#firstAside h3 {
  /* padding-top: 1em; */
  font-size: 1.5em;
  padding-bottom: 2em;
}
#firstAside p {
  padding: 0 6em 3em 6em;
  line-height: 3;
}

#secondAside h3 {
  /* padding-top: 1em; */
  font-size: 1.5em;
  padding-bottom: 2em;
}
#secondAside p {
  padding: 0 6em 3em 6em;
  line-height: 3;
}


/* 2nd Section */
#homeInfoSection {
  width: 100%;  
  min-height: 70vh;
  margin-top: 5em;
}
#homeInfoSection h3 {
  padding-bottom: 2em;
  font-size: 2.25em;
}
#homeInfoSection p {
  padding-bottom: 5em;
  font-size: 1.25em;
  text-align: center;
}

/* last Jumbotron */
#endJumbotron {
  background: url("../images/cssAbout1.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  float: left;
  margin-top: 5em;
}
#endJumbotron h2 {
  color: #0be100;
  font-size: 3em;
  text-align: right;
  padding-top: 10%;
  padding-right: 6%;
  filter: drop-shadow(0 0 0.75rem rgb(72, 255, 72));
}


/* FOOTER */
footer {
  min-height: 2rem;
  text-align: center;
}
footer h1 {
  color: #000;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}
.footerCol {
  float: left;
  width: 25%;
  list-style: none;
  padding-top: 1em;
}

.footerCol li {
  line-height: 2em;
}

.footerCol a {
  text-decoration: none;
  color: #000;
}
.footerCol a:hover {
  color: #0ac400;
}


/* MEDIA QUERIES */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  header {
    width: 100%;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #section-article {
    display: none;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #section-article {
    display: none;
  }
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  #section-article {
    display: none;
  }
  section {
    width: 100%;
    min-height: 15rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  aside {
    width: 100%;
    min-height: 15rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  .jumbotron {
    width: 100%;
    min-height: 15rem;
    background-color: #000;
    padding-bottom: 2rem;
    float: left;
  }
  footer {
    width: 100%;
    min-height: 3rem;
    background-color: pink;
    padding: 2rem 0;
    float: left;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  #brand {
    width: 100%;
    text-align: center;
  }

  #header-nav {
    width: 100%;
    float: left;
    text-align: center;
  }
  #header-nav ul li {
    display: inline-block;
    padding-right: .5rem;
    padding-top: .75rem;
    font-size: 1rem;
    margin-right: 3.5rem;
  }
  

  #section-article {
    display: none;
  }
  section {
    width: 100%;
    min-height: 9rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  aside {
    width: 100%;
    min-height: 9rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  .jumbotron {
    width: 100%;
    min-height: 9rem;
    background-color: #000;
    padding-bottom: 2rem;
    float: left;
  }
  footer {
    width: 100%;
    min-height: 2rem;
    background-color: pink;
    padding: 2rem 0;
    float: left;
  }
}
