/* HEADER */
.header-one {
  min-height: 8%;
  background-color: #fff;
  border-bottom: 1px solid #0ac400;
  padding-top: 1%;
  padding-bottom: 1%;
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.5s;
  z-index: 1000;
}
#brand {
  float: left;
  font-size: 4vw;
  padding-top: 1vh;
  padding-left: 2vw;
  color: #000;
}
/* #brand:hover {
  color: #0ac400;
} */
#header-nav ul {
  float: right;
}
#header-nav ul li {
  display: inline-block;
  padding-right: 2vh;
  padding-top: 2.5vh;
  font-size: 2vw;
}
#header-nav a {
  text-decoration: none;
  color: #000;
}
#header-nav a:last-child {
  padding-right: 0.5rem;
}
#header-nav a:hover {
  text-decoration: none;
  color: #0ac400;
}

/* JUMBOTRON */
.jumbotron {
  background: url("../images/cssAbout2.jpg");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
.jumbotron h1 {
  color: #0ac700;
  padding-top: 25%;
  font-size: 5vh;
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
  /* filter: blur(2px); */
}

/* SECTION */
section {
  margin-top: 5em;
  /* border-right: 1px solid #000; */
  float: left;
  width: 50%;
  min-height: 45vh;
  justify-content: center;
}
#firstSection {
  border-right: 1px solid #000;
}
#secondSection {
  border-left: 1px solid #000;
}
section h3 {
  font-size: 5vh;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#section-article {
  /* border: red 1px solid; */
  background: url("../images/indexarticle1.jpg");
  background-size: cover;
  width: 75%;
  text-align: left;
  margin-left: 3vw;
  margin-top: 3vh;
  min-height: 40vh;
  padding-top: 2vh;
  padding-left: 2vw;
}
#section-article a {
  text-decoration: none;
  color: #000;
  font-size: 3.5vh;
  /* padding-top: 2em; */
}
#section-article a:hover {
  color: #0ac400;
}
/* #section-article img {
  width: 30em;
  height: 15em;
} */

/* ASIDE */
aside {
  /* border: 1px solid #000; */
  min-height: 45vh;
  margin-top: 5em;
  float: left;
  width: 49%;
}
aside h3 {
  font-size: 5vh;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#firstAside h3 {
  /* padding-top: 1em; */
  font-size: 5vh;
  padding-bottom: 4vh;
}
#firstAside p {
  padding: 0 6em 3em 6em;
  line-height: 3;
}

#secondAside h3 {
  /* padding-top: 1em; */
  font-size: 5vh;
  padding-bottom: 2em;
}
#secondAside p {
  padding: 0 6em 3em 6em;
  line-height: 3;
}

/* 2nd Section */
#homeInfoSection {
  width: 100%;
  min-height: 70vh;
  margin-top: 5em;
}
#homeInfoSection h3 {
  padding-bottom: 2em;
  font-size: 5vh;
}
#homeInfoSection p {
  padding-bottom: 5em;
  font-size: 3vh;
  text-align: center;
}

/* last Jumbotron */
#endJumbotron {
  background: url("../images/cssAbout1.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  float: left;
  margin-top: 5em;
}
#endJumbotron h2 {
  color: #0be100;
  font-size: 7vh;
  text-align: right;
  padding-top: 10vh;
  padding-right: 6vw;
  filter: drop-shadow(0 0 0.75rem rgb(72, 255, 72));
}

/* FOOTER */
footer {
  min-height: 10%;
  text-align: center;
  width: 100%;
}
#footer-brand {
  float: left;
  font-size: 6vh;
}
footer h1 {
  color: #000;
  font-weight: bold;
  padding-top: 5vh;
  padding-bottom: 1em;
}
.footerCol {
  float: left;
  width: 25%;
  list-style: none;
  padding-top: 1em;
}

.footerCol li {
  line-height: 6vh;
}

.footerCol a {
  text-decoration: none;
  color: #000;
}
.footerCol a:hover {
  color: #0ac400;
}

/* MEDIA QUERIES */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  header {
    width: 100%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #section-article {
    display: block;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /*  
  section {
    width: 100%;
    min-height: 15rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  }
  aside {
    width: 100%;
    min-height: 15rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  } */
  .header-one {
    width: 100%;
    min-height: 3rem;
  }
  #brand {
    width: 100%;
    text-align: center;
    font-size: 5vh;
  }
  #header-nav {
    width: 100%;
    /* text-align: center; */
  }
  #header-nav ul {
    width: 100%;
    text-align: center;
    /* font-size: 8vh; */
  }
  #header-nav ul li {
    font-size: 3vh;
    padding: 2.75vw;
  }

  .jumbotron {
    width: 100%;
    min-height: 30rem;
    background-color: #000;
    padding-bottom: 2rem;
    float: left;
  }
  .jumbotron h1 {
    padding-top: 30vh;
  }

  #firstSection {
    min-height: 100vh;
    /* background-color: #ccc; */
  }
  #firstSection h3 {
    font-size: 5vh;
    margin-bottom: 3em;
  }
  #firstSection article {
    height: 10vh;
    width: 80%;
    background-image: cover;
    margin-bottom: 5em;
  }

  #firstAside {
    min-height: 100vh;
    /* background-color: rgb(130, 128, 128); */
  }
  #firstAside h3 {
    font-size: 4vh;
   /* padding-top: 1em; */
  }
  #firstAside p {
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
    padding-bottom: 1.95em;
  }

  #secondAside {
    min-height: 100vh;
    /* background-color: rgb(130, 128, 128); */
  }
  #secondAside h3 {
    font-size: 4vh;
   /* padding-top: 1em; */
  }
  #secondAside p {
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
    padding-bottom: 1.95em;
  }

  #secondSection {
    min-height: 100vh;
    /* background-color: #ccc; */
  }
  #secondSection h3 {
    font-size: 5vh;
    margin-bottom: 3em;
  }
  #secondSection article {
    height: 10vh;
    width: 80%;
    background-image: cover;
    margin-bottom: 5em;
  }

  #endJumbotron {
    width: 100%;
    min-height: 30rem;
    /* background-color: #000; */
    padding-bottom: 2rem;
    float: left;
  }
  #endJumbotron h2 {
    padding-top: 38vh;
    padding-right: 1.5em;
    color: #ffaf37;
  }


  footer {
    width: 100%;
    min-height: 3rem;

    padding: 2rem 0;
    float: left;
  }
  #footer-brand {
    width: 100%;
  }
  .footerCol {
    width: 32%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header-one {
    width: 100%;
    min-height: 3rem;
  }
  #brand {
    width: 100%;
    text-align: center;
    font-size: 5vh;
  }
  #header-nav {
    width: 100%;
    /* text-align: center; */
  }
  #header-nav ul {
    width: 100%;
    text-align: center;
    /* font-size: 8vh; */
  }
  #header-nav ul li {
    font-size: 3vh;
    padding: 2.75vw;
  }
  /* 
  section {
    width: 100%;
    min-height: 9rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  } */
  /* aside {
    width: 100%;
    min-height: 9rem;
    background-color: #ffffff;
    padding-bottom: 2rem;
    float: left;
  } */
  .jumbotron {
    width: 100%;
    min-height: 9rem;
    background-color: #000;
    padding-bottom: 2rem;
    float: left;
  }

  footer {
    width: 100%;
    min-height: 3rem;

    padding: 2rem 0;
    float: left;
  }
  #footer-brand {
    width: 100%;
  }
  .footerCol {
    width: 32%;
  }
}
